
.main-heading {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242e4a;
    font-size: 3em;
    display: block;
    margin-top: 150px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan{
    font-size: x-large;
  }

  .generate-notes-box{
    
  }