
.main-heading {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242e4a;
    font-size: 3em;
    display: block;
    margin-top: 150px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan{
    font-size: x-large;
  } 

  .generate-notes-box{

  }

  .loader {
    border: 4px solid #fefefe;
    border-top: 4px solid #4e76ff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  